---
layout: default
---



<section class="u-clearfix u-white u-section-4" id="sec-8df5">
  <div class="u-clearfix u-sheet u-sheet-1" >
    <h3 class="u-text u-text-1" style="width:100%;">{{ page.title }}</h3>
     <div class="date">
      Written on {{ page.date | date: "%B %e, %Y" }}
    </div>
    <div class="fb-like" data-href="{{site.url}}{{site.baseurl}}{{page.url}}" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
 
    <p class="u-text u-text-2">{{ content }}
    </p>
  </div>
</section>

<hr>
<section class="u-align-center u-clearfix u-white u-section-2" id="carousel_a13f">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":""}--><!--/blog_options_json-->
    <p></p>Autres Articles :</p>

    {% for post in site.posts %}
    <div class="u-blog u-repeater u-repeater-1" style="min-height: 0px"><!--blog_post-->
      <div class="u-blog-post u-container-style u-repeater-item">
        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1"><!--blog_post_image-->
          {% if post.featured-img %}
          <a href="{{ site.baseurl }}{{ post.url }}" ></a><img src="{{site.url}}{{site.baseurl}}/images/{{post.featured-img}}" class="u-blog-control u-image u-image-default u-image-1" data-image-width="2255" data-image-height="1500" /></a>
          {% else %}
          <a href="{{ site.baseurl }}{{ post.url }}" ></a><img src="{{site.url}}{{site.baseurl}}/images/{{post.featured-img-url}}" class="u-blog-control u-image u-image-default u-image-1" data-image-width="2255" data-image-height="1500" /></a>
          {% endif %}
           <h2 class="u-blog-control u-text u-text-1">
            <a class="u-post-header-link" href="#"><!--blog_post_header_content-->{{ post.title }}<!--/blog_post_header_content--></a>
          </h2><!--/blog_post_header--><!--blog_post_content-->
          <div class="u-blog-control u-post-content u-text u-text-2"><!--blog_post_content_content-->{{ post.description }}<!--/blog_post_content_content--></div><!--/blog_post_content--><!--blog_post_metadata-->
          <div class="u-blog-control u-metadata u-text-grey-40 u-metadata-1"><!--blog_post_metadata_date-->
            <span class="u-meta-date u-meta-icon"><!--blog_post_metadata_date_content-->Thu Jun 25 2020<!--/blog_post_metadata_date_content--></span><!--/blog_post_metadata_date-->
          </div><!--/blog_post_metadata--><!--blog_post_readmore-->
          <a href="{{ site.baseurl }}{{ post.url }}" class="u-blog-control u-btn u-button-style u-btn-1"><!--blog_post_readmore_content-->Lire la suite<!--/blog_post_readmore_content--></a><!--/blog_post_readmore-->
        </div>
      </div><!--/blog_post--><!--blog_post-->

      {% endfor %}
    </div><!--/blog-->
  </div>
</section>